html,
body, * {
  padding: 0;
  margin: 0;
  font-family: "Cadiz Book";
  width: 100%;
  color: #35383D;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-family: "Tobias SemiBold";
  font-weight: 400;
  font-size: 32px;
  margin-bottom: 1rem;
}

h2 {
  font-family: "Tobias SemiBold";
  font-size: 24px;
}

p {
  font-size: 1rem;
  margin-bottom: 1rem;
}

section {
  margin-bottom: 2rem;
}

.swiper-slide {
  text-align: center;
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
